*~
~*
*.diff
*.patch
*.bak
**/.DS_Store
.DS_Store
*.swp
*.swo
*.log
*.log.*

.vscode/

node_modules/
.sass-cache/

# .bundle/
/vendor/
/vendor/bundle
*.gem
.idea/

yarn.lock
package-lock.json
Gemfile.lock

_site/
.jekyll-metadata
.jekyll-cache/
