/* start custom scss snippet */

/* jetbrains-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/jetbrains-mono-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/jetbrains-mono-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/jetbrains-mono-v18-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/jetbrains-mono-v18-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/jetbrains-mono-v18-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/jetbrains-mono-v18-latin-regular.svg#JetBrainsMono') format('svg'); /* Legacy iOS */
}


body {
  /* 更改正文字体 */
  font-family:
    "JetBrains Mono",
    Times,
    Menlo,
    Monaco,
    Consolas,
    Andale Mono,
    lucida console,
    Courier New,
    monospace;
  font-size: 1.2rem;
}

code {
  /* 更改code字体 */
  font-family:
    "JetBrains Mono",
    Times,
    Menlo,
    Monaco,
    Consolas,
    Andale Mono,
    lucida console,
    Courier New,
    monospace;
  font-size: 1.05rem;
}

// // clipboard:
// .tooltipped {
//   position: relative;
// }

// .tooltipped:after {
//   position: absolute;
//   z-index: 1000000;
//   display: none;
//   padding: 5px 8px;
//   font: arial, nimbussansl, liberationsans, freesans, clean, sans-serif,
//     "Segoe UI Emoji", "Segoe UI Symbol";
//   font-size: map-get($base, font-size-sm);
//   color: #fff;
//   text-align: center;
//   text-decoration: none;
//   text-shadow: none;
//   text-transform: none;
//   letter-spacing: normal;
//   word-wrap: break-word;
//   white-space: pre;
//   pointer-events: none;
//   content: attr(aria-label);
//   background: rgba(0, 0, 0, 0.8);
//   border-radius: 3px;
//   -webkit-font-smoothing: subpixel-antialiased;
// }

// .tooltipped:before {
//   position: absolute;
//   z-index: 1000001;
//   display: none;
//   width: 0;
//   height: 0;
//   color: rgba(0, 0, 0, 0.8);
//   pointer-events: none;
//   content: "";
//   border: 5px solid transparent;
// }

// .tooltipped:hover:before,
// .tooltipped:hover:after,
// .tooltipped:active:before,
// .tooltipped:active:after,
// .tooltipped:focus:before,
// .tooltipped:focus:after {
//   display: inline-block;
//   text-decoration: none;
// }

// .tooltipped-s:after {
//   top: 100%;
//   right: 50%;
//   margin-top: 5px;
// }

// .tooltipped-s:before {
//   top: auto;
//   right: 50%;
//   bottom: -5px;
//   margin-right: -5px;
//   border-bottom-color: rgba(0, 0, 0, 0.8);
// }

// .tooltipped-s:after {
//   -webkit-transform: translateX(50%);
//   -ms-transform: translateX(50%);
//   transform: translateX(50%);
// }

// .fa-copy {
//   margin-top: -3px;
//   position: relative;
//   top: 3px;
// }

// .btn[disabled] .fa-copy {
//   opacity: 0.3;
// }

// .copyable {
//   position: relative;
//   overflow: visible;
// }

// .copyable .btn {
//   -webkit-transition: opacity 0.3s ease-in-out;
//   -o-transition: opacity 0.3s ease-in-out;
//   transition: opacity 0.3s ease-in-out;
//   opacity: 0;
//   padding: 2px 6px;
//   position: absolute;
//   right: 4px;
//   top: 4px;
//   color: $copy-button-color;
// }

// .copyable:hover .btn,
// .copyable .btn:focus {
//   opacity: 1;
// }

/* end custom scss snippet */
